<!doctype html>
<html>
	<head>
		<title>React Express Example</title>
	</head>
	<body>
    <div id="react-main-mount">
		  <%- reactOutput %>
    </div>
    <script src="/js/output.js"></script>
	</body>
</html>